# Python
__pycache__/
*.py[cod]
*.so


# Virtual environments
.venv/
venv/
env/
ENV/


# Environment variables
.env


# Database
data/database/
*.db

# Raw data 
data/raw_pdfs/*
!data/raw_pdfs/recipes.pdf


# Build / distribution
build/
dist/
*.egg-info/

# Node
node_modules/
frontend/.next/
frontend/node_modules/
frontend/.env.local
frontend/tsconfig.tsbuildinfo

# Python backend
backend/.venv/
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/app/*/__pycache__/
backend/app/*/*/__pycache__/
backend/app/*/*/*/__pycache__/
backend/.env

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Docker
**/.DS_Store

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
